<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>374957509512-erab35k0m6spadvj9cr89qevihafgqok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374957509512-erab35k0m6spadvj9cr89qevihafgqok</string>
	<key>API_KEY</key>
	<string>AIzaSyAYithHfcSECnUiw6Ld3Yd-Eitwbzvhp6U</string>
	<key>GCM_SENDER_ID</key>
	<string>374957509512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ucsd.NeuroResIOS</string>
	<key>PROJECT_ID</key>
	<string>neurores-c1d0b</string>
	<key>STORAGE_BUCKET</key>
	<string>neurores-c1d0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:374957509512:ios:f42cae3363511b01</string>
	<key>DATABASE_URL</key>
	<string>https://neurores-c1d0b.firebaseio.com</string>
</dict>
</plist>